body {
    min-height: 100vh;
    font-family: "oscine";
}

.navbar {
    background-color: white;
}

.navbar-brand img {
    max-width: 140px;
}


.title {
    font-size: 1.5rem;
    font-weight: 800;
}

#title-container {
    margin-top: 20px;
}

#form-container {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.pink {
    color: #ff0c99;
}

label {
    font-weight: 700;
}

input {
    border-color: #f7f7f7 !Important;
    border-style: solid !Important;
    border-width: 3px !Important;
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 15px;
    font-weight: 600 !Important;
}

#btn-submit {
    width: 100%;
    background-color: black;
    border: none;
    border-radius: 25px;
    height: 45px;
    margin-top: 8px;
    font-weight: 600;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#postcode {
    text-transform: uppercase;
}


#disclaimer {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: black;
    border: none !Important;
}


.form-control:focus {
    border-color: #f7f7f7 !Important;
    border-style: solid !Important;
    border-width: 3px !Important;
    box-shadow: none !important;
}


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none !Important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !Important;
}



.fa-pulse {
    font-size: 20px;
    margin-top: 5px;
}


@media (min-width: 750px) {
    
    body {
        background-color: #f7f7f7;
    }
    
    #form-container {
        max-width: 500px;
        padding: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-color: white;
    }
    
    #title-container {
        margin-top: 8vh;
    }
    
    .navbar-brand img {
        max-width: 180px;
        margin-top: 5px;
    }
    
}